TGN_APP_NAME='Telegram Git Notify'

# Set your app url here (please change to your bot domain)
TGN_APP_URL=https://152.132.127.172:3000

TELEGRAM_BOT_TOKEN="###########:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
TELEGRAM_BOT_CHAT_ID="##########"

# Set the chat ids that will receive notifications here.
# You can add the owner bot id, group id, ... ( And please use semicolon ";" to separate chat ids )
# The environment variable is expected to be in the format:
# "chat_id1;chat_id2,thread_id2;chat_id3,thread_id3;..."
TELEGRAM_NOTIFY_CHAT_IDS="-###########1;-############2,######2;-############3,######3"

# Docker
PHP_VERSION_SELECTED=8.2
CONTAINER_NAME=telegram-git-notifier
APP_PORT=3000


# -----------------------------------------------------
# --------------------- Optional ----------------------
# Please change or comment if you want to use default.
# Note: Don't set blank value
# -----------------------------------------------------

TIMEZONE=Asia/Ho_Chi_Minh

#TGN_VIEW_PATH=
#TGN_VIEW_EVENT_DEFAULT=

#TGN_VIEW_GLOBALS_ACCESS_DENIED=

#TGN_VIEW_TOOL_SETTING=
#TGN_VIEW_TOOL_CUSTOM_EVENT_ACTION=
#TGN_VIEW_TOOL_CUSTOM_EVENT=
#TGN_VIEW_TOOL_SET_MENU_COMMAND=
